{% extends 'base.html' %}
{% block mycontent %}

            <div class="container">
                <h1>My "AAAA+ notation" for : Utilities</h1> 
                <br>
                <br>
                <div class="table-responsive">
                    <table border="1" class="dataframe table table-striped table-bordered">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Ticker</th>
      <th>company</th>
      <th>sector</th>
      <th>industry</th>
      <th>country</th>
      <th>market cap</th>
      <th>value</th>
      <th>profit</th>
      <th>growth</th>
      <th>perf</th>
      <th>note</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>31</th>
      <td>CWCO</td>
      <td>Consolidated Water Co. Ltd.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>Cayman Islands</td>
      <td>579.60M</td>
      <td>B+</td>
      <td>A+</td>
      <td>C</td>
      <td>A+</td>
      <td>A+</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>38</th>
      <td>EBR</td>
      <td>Centrais Eletricas Brasileiras S.A. ADR</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>Brazil</td>
      <td>16.60B</td>
      <td>B-</td>
      <td>A</td>
      <td>A</td>
      <td>C+</td>
      <td>A</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>24</th>
      <td>CEPU</td>
      <td>Central Puerto ADR</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Electric</td>
      <td>Argentina</td>
      <td>1.24B</td>
      <td>D-</td>
      <td>A</td>
      <td>A+</td>
      <td>B+</td>
      <td>A</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>90</th>
      <td>RNW</td>
      <td>ReNew Energy Global plc</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>India</td>
      <td>2.50B</td>
      <td>B</td>
      <td>A+</td>
      <td>C+</td>
      <td>B-</td>
      <td>A-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>39</th>
      <td>EBR-B</td>
      <td>Centrais Eletricas Brasileiras S.A. ADR</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>Brazil</td>
      <td>2.58B</td>
      <td>D</td>
      <td>A</td>
      <td>A+</td>
      <td>C+</td>
      <td>A-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>63</th>
      <td>MGEE</td>
      <td>MGE Energy, Inc.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Electric</td>
      <td>USA</td>
      <td>2.67B</td>
      <td>A+</td>
      <td>A+</td>
      <td>D+</td>
      <td>C</td>
      <td>A-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>53</th>
      <td>FLNC</td>
      <td>Fluence Energy Inc</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>USA</td>
      <td>3.07B</td>
      <td>C</td>
      <td>A-</td>
      <td>B</td>
      <td>B</td>
      <td>A-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>98</th>
      <td>TAC</td>
      <td>Transalta Corp.</td>
      <td>Utilities</td>
      <td>Utilities - Independent Power Producers</td>
      <td>Canada</td>
      <td>2.52B</td>
      <td>D+</td>
      <td>A+</td>
      <td>A</td>
      <td>C-</td>
      <td>B+</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>65</th>
      <td>MSEX</td>
      <td>Middlesex Water Co.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>USA</td>
      <td>1.20B</td>
      <td>A</td>
      <td>A+</td>
      <td>D</td>
      <td>C-</td>
      <td>B+</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>56</th>
      <td>GWRS</td>
      <td>Global Water Resources Inc</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>USA</td>
      <td>291.73M</td>
      <td>B-</td>
      <td>A+</td>
      <td>C-</td>
      <td>C</td>
      <td>B+</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>23</th>
      <td>CEG</td>
      <td>Constellation Energy Corporation</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>USA</td>
      <td>37.74B</td>
      <td>D+</td>
      <td>A</td>
      <td>B-</td>
      <td>C+</td>
      <td>B</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>41</th>
      <td>EDN</td>
      <td>Empresa Distribuidora y Comercial Norte S.A. ADR</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Electric</td>
      <td>Argentina</td>
      <td>382.61M</td>
      <td>F</td>
      <td>A+</td>
      <td>D+</td>
      <td>A+</td>
      <td>B</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>55</th>
      <td>GNE</td>
      <td>Genie Energy Ltd</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Electric</td>
      <td>USA</td>
      <td>648.07M</td>
      <td>D-</td>
      <td>A+</td>
      <td>D</td>
      <td>A+</td>
      <td>B</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>79</th>
      <td>ORA</td>
      <td>Ormat Technologies Inc</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>USA</td>
      <td>4.17B</td>
      <td>C-</td>
      <td>A</td>
      <td>B</td>
      <td>C-</td>
      <td>B</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>18</th>
      <td>BIP</td>
      <td>Brookfield Infrastructure Partners L.P</td>
      <td>Utilities</td>
      <td>Utilities - Diversified</td>
      <td>Bermuda</td>
      <td>12.55B</td>
      <td>C+</td>
      <td>A</td>
      <td>C</td>
      <td>D+</td>
      <td>B</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>34</th>
      <td>CWT</td>
      <td>California Water Service Group</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>USA</td>
      <td>3.03B</td>
      <td>C+</td>
      <td>A</td>
      <td>C-</td>
      <td>C-</td>
      <td>B</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>37</th>
      <td>DUK</td>
      <td>Duke Energy Corp.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Electric</td>
      <td>USA</td>
      <td>71.07B</td>
      <td>B-</td>
      <td>A</td>
      <td>D+</td>
      <td>C-</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>106</th>
      <td>WEC</td>
      <td>WEC Energy Group Inc</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Electric</td>
      <td>USA</td>
      <td>26.43B</td>
      <td>B-</td>
      <td>A+</td>
      <td>D+</td>
      <td>C-</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>14</th>
      <td>AWR</td>
      <td>American States Water Co.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>USA</td>
      <td>3.01B</td>
      <td>B-</td>
      <td>A+</td>
      <td>D</td>
      <td>C-</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>81</th>
      <td>PAM</td>
      <td>Pampa Energia SA ADR</td>
      <td>Utilities</td>
      <td>Utilities - Independent Power Producers</td>
      <td>Argentina</td>
      <td>2.59B</td>
      <td>D</td>
      <td>A+</td>
      <td>D+</td>
      <td>B</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>91</th>
      <td>SBS</td>
      <td>Companhia de Saneamento Basico do Estado de Sao Paulo. ADR</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>Brazil</td>
      <td>9.40B</td>
      <td>D</td>
      <td>A+</td>
      <td>C-</td>
      <td>B-</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>109</th>
      <td>YORW</td>
      <td>York Water Co.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>USA</td>
      <td>560.34M</td>
      <td>C+</td>
      <td>A+</td>
      <td>D</td>
      <td>C-</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ARTNA</td>
      <td>Artesian Resources Corp.</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Water</td>
      <td>USA</td>
      <td>445.12M</td>
      <td>C+</td>
      <td>A</td>
      <td>D+</td>
      <td>C-</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>68</th>
      <td>NFE</td>
      <td>New Fortress Energy Inc</td>
      <td>Utilities</td>
      <td>Utilities - Regulated Gas</td>
      <td>USA</td>
      <td>7.93B</td>
      <td>D</td>
      <td>A+</td>
      <td>D+</td>
      <td>C+</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
    <tr>
      <th>73</th>
      <td>NRGV</td>
      <td>Energy Vault Holdings Inc</td>
      <td>Utilities</td>
      <td>Utilities - Renewable</td>
      <td>USA</td>
      <td>353.85M</td>
      <td>F</td>
      <td>B+</td>
      <td>A-</td>
      <td>C</td>
      <td>B-</td>
      <td>2023-12-05 19:59:54.769867</td>
    </tr>
  </tbody>
</table>
                </div>
{% endblock mycontent %}